<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/newnote.css">
    <title>TODO</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark nav">
        <div class="container-fluid">
            <a class="navbar-brand navtodo" href="#">TODO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href='/todo/signin'>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active navadd" href="#">Add Note</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- <h1> Add Your new Note <img class='headimg' src="/imgs_/to-do-list.png"> </h1> -->
    <div class="body">
        <h1> Add Your new Note <img class='headimg' src="/imgs_/to-do-list.png"> </h1>
        <div class="row">
            <div class="col-6">
                <img class="img"
                    src="https://media.istockphoto.com/vectors/clipboard-with-checklist-icon-checklist-complete-tasks-todo-list-vector-id935062576?k=20&m=935062576&s=612x612&w=0&h=eHsw5K8T8PxCM2E_sI1birWWVnw0kZ4C_y1rgqOazbc=">
            </div>
            <div class="col-6">
                <form action="/todo/newnote" class="validate-form validated-form" method="post" novalidate>
                    <div class="container" id="mainContainer">
                        <label for="heading" class="col-sm-2 col-form-label">Heading: </label>
                        <div class="mb-3 row">
                            <input type="text" id="heading" class="form-control" name="heading" required>
                        </div>
                        <div class="mb-3 row">
                            <label for="text" class="col-sm-2 col-form-label">Description: </label>
                            <textarea rows="4" id="text" class="form-control" name="text" required></textarea>
                        </div>
                        <div class="mb-3 row">
                            <label for="time" class="col-sm-2 col-form-label">Time: </label>
                            <input type="text" id="time" class="form-control" name="time" required>
                        </div>
                        <div class="mb-3 row">
                            <label for="date" class="col-sm-2 col-form-label">Heading: </label>
                            <input type="date" id="date" class="form-control" name="date" required>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">Add Note</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
        </script>
    <script>
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.validated-form')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()    
    </script>

</body>

</html>