.nav {
    background-color: #2874A6;
    font-size: 25px;
    height: 50px;
}

.navtodo {
    margin-left: 80px;
    margin-right: 60px;
}


.navadd {
    margin-left: 40px;
}

h1 {
    margin-top: 25px;
    margin-left: 10px;
    /* text-decoration: underline; */
    width: 350px;
    margin-left: 120px;
    /* border: 4px solid black; */
    padding: 6px;
    /* border-radius: 40px; */
    /* background-color: #2874A6; */
    /* color: white; */
    /* width: auto; */
}

.imghead {
    display: flex;
    flex-direction: row;
}

#signup {
    /* display: flex;
    flex-direction: row; */
    /* justify-content: flex-end; */
    margin-left: 89.5%;

}

.signup {
    border: 2px solid black;
    background-color: #2874A6;
}

.signup:hover {
    background-color: greenyellow;
    color: black;
}

.username {
    text-align: center;
}

.con {
    width: 90%;
    height: 600px;
    overflow-y: auto;
    /* background-color: rgb(223, 255, 205); */
    background-color: white;
    /* background-color: #FBF6D9; */
    /* padding-top: 200px; */
    border: solid 3px black;
    margin-top: 15px;
    border-radius: 15px;
}

.head {
    border: solid 2px black;
    background-color: #56A8CBFF;
    display: flex;
    align-items: center;
}

.activity {
    margin-top: 5px;
    border: solid 2px black;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.activity h5 {
    text-decoration: underline;
}

.activity .col-2{
    text-align: right;
}

.add {
    margin-left: 89.2%;
    border-color: black;
    border-width: 2px;
    margin-top: 5px;
    background-color: #2874A6;
}

.show {
    height: 75%;
    border: 1px solid black;
}

.headimg {
    width: 80px;
    height: 80px;
    margin-top: 25px;
    margin-left: 25%;
    border: 3px solid black;
    border-radius: 40px;
    padding: 5px;
    background-color: white;
}

body {
    background-image: url('https://media.istockphoto.com/photos/check-off-completed-tasks-on-a-todo-list-picture-id1011182136?b=1&k=20&m=1011182136&s=170667a&w=0&h=RziXkHmGh9RrumkJEJEdnyDGTdcwpIycU87snPeubpU=');
    background-repeat: no-repeat;
    background-size: cover;
}

.imgdiv {
    width: 120px;
    margin-left: 50px;
}

.namediv {
    width: 500px;
    margin-left: 380px;
}
